.search_bright .search_btn {
    /* 搜索相关按钮 */
    font-weight: bold;
}

#nameValue {
    /* 我的用户名 */
    font-weight: bold;
}

#onekey_sign .onekey_btn,
#onekey_sign a.onekey_btn {
    /* 签到按钮 */
    font-weight: bold;
}

.u-f-w .sign:hover,
.u-f-w .unsign:hover,
.always-forum-item .sign:hover,
.always-forum-item .unsign:hover {
    /* 已签到 */
    font-weight: bold;
}

.u-f-w .more-hover {
    /* “查看更多”按钮文字 */
    font-weight: bold;
}

.always-forum-title {
    /* 展开标题 */
    font-weight: bold;
}

.always-forum-item .addnewforumbtn:hover {
    /* “添加爱逛的吧”按钮 */
    font-weight: bold;
}

.rcmd_forum_item .forum_name {
    /* 热门吧标题 */
    font-weight: bold;
}

.sub_nav_list a.cur {
    /* 当前标签 */
    font-weight: bold;
}

.new_list .title {
    /* 贴子标题 */
    font-weight: bold;
}

.list-post-num {
    /* 贴子回复数 */
    font-weight: bold;
}

.new_list .post_author {
    /* 作者 */
    font-weight: bold;
}

/* ////////////////////////////////////////////// */

.d_post_content a,
.lzl_cnt .lzl_content_main a {
    /* 贴子和评论的超链接 */
    font-weight: bold;
}

.card_top_theme2 .card_title_fname {
    /* 吧名 */
    font-weight: bold;
}

.sign_box_bright {
    /* 签到按钮文本 */
    font-weight: bold;
}

.core_title_txt {
    /* 标题 */
    font-weight: bold;
}

.core_title h1 {
    /* 部分吧标题 */
    font-weight: bold !important;
}

.lzl_cnt .at {
    /* 用户名 */
    font-weight: bold;
}

.d_name .p_author_name {
    /* 层主名 */
    font-weight: bold;
}

.islike_focus {
    /* 关注吧按钮 */
    font-weight: bold;
}

.cancel_focus {
    /* 取关吧按钮 */
    font-weight: bold;
}

/* ////////////////////////////////////////////// */

.card_title_fname {
    /* 吧标题 */
    font-weight: bold;
}

.j_th_tit  {
    /* 帖子标题 */
    font-weight: bold;
}

.threadlist_rep_num {
    /* 回贴数 */
    font-weight: bold;
}
