.threadlist_title a,
.threadlist_title a:hover,
.threadlist_title a:visited {
    color: var(--tieba-theme-fore) !important;
}

.u_menu_item a {
    /* 顶部菜单 */
    color: unset !important;
}

.card_banner {
    /* 大卡 */
    display: none !important;
}

.search_main {
    /* 固定搜索栏 */
    padding-bottom: unset;
}

.search_bright {
    margin-bottom: 36px;
}

.search_bright .search_logo_fixed {
    /* 固定搜索栏 icon */
    width: 36px;
    height: 36px;
    margin-left: 56px;
    background-color: rgba(0, 0, 0, 0);
    background-image: var(--img-tieba-icon);
    background-repeat: no-repeat;
}

.search_main_fixed {
    background-color: var(--trans-default-background);
    backdrop-filter: blur(24px);
    border-color: var(--border-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card_top_theme {
    border: none !important;
}

.content {
    /* 容器 */
    width: 982px;
}

.card_top_theme .card_top {
    /* 吧标题容器 */
    padding-left: 120px !important;
}

.card_title_fname {
    /* 吧标题 */
    color: var(--tieba-theme-fore) !important;
}

.card_slogan {
    /* 吧 slogan */
    color: var(--light-fore) !important;
}

.islike_focus {
    /* 关注吧按钮 */
    background-image: none !important;
    background-color: var(--tieba-theme-color) !important;
}

.cancel_focus {
    /* 取关吧按钮 */
    background: none !important;
    background-color: var(--tieba-theme-background) !important;
}

.sign_box_bright,
.sign_box_bright_hover {
    /* 签到按钮 */
    background: none !important;
    background-color: var(--tieba-theme-color) !important;
}

.sign_box_bright_signed,
.sign_box_bright_noclass_hover {
    /* 签到按钮：已签到 */
    background: none !important;
    background-color: var(--tieba-theme-background) !important;
}

.sign_mod_bright .sign_keep_span {
    margin: unset !important;
    text-align: center !important;
}

.forum_content {
    /* 容器 */
    background: none !important;
    background-color: var(--elem-color) !important;
    border-color: var(--border-color) !important;
    border-right: none !important;
}

.nav_wrap {
    /* tab */
    border-color: var(--border-color) !important;
}

.nav_list li.focus {
    /* 焦点 tab */
    background: none !important;
}

.nav_list a {
    color: unset !important;
}

.j_tabnav_tab:hover {
    background: none;
}

.nav_list a:hover,
.nav_list a:focus {
    /* tab hover */
    background-color: var(--elem-color) !important;
}

.search_internal_input {
    /* 吧内搜索 */
    color: var(--default-fore) !important;
    border-color: var(--border-color) !important;
    border-radius: 8px 0 0 8px;
    height: 24px !important;
}

.search_internal_btn {
    /* 吧内搜索按钮 */
    background-image: var(--svg-search) !important;
    background-size: 16px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: var(--tieba-theme-color) !important;

    vertical-align: middle !important;
    border-radius: 0 8px 8px 0;
    height: 26px !important;
}

.aside_region {
    /* 右侧内容 */
    border-bottom: none !important;
}

.aside_region .region_header {
    color: var(--default-fore) !important;
}

.my_tieba .media_left,
.my_tieba .media-left {
    /* 我的头像 */
    border: none !important;
}

.my_current_forum .badge {
    /* 我的等级 */
    background-color: var(--light-background) !important;
    color: var(--default-fore) !important;
    border: 1px solid var(--border-color) !important;
}

.my_current_forum .badge_name {
    color: var(--default-fore) !important;
}

.media_top img,
.media-top img {
    /* 右侧图片 */
    border-radius: 16px;
}

.aside_media_horizontal a,
.aside-media-horizontal a {
    /* 右侧超链接 */
    color: var(--tieba-theme-fore) !important;
}

.threadlist_bright li.thread_top_list_folder,
.threadlist_bright li.thread_top_list_folder:hover {
    /* 置顶贴 */
    background-color: var(--very-light-background) !important;
}

.threadlist_bright>li {
    /* 贴子 */
    border: none !important;
    background-color: var(--default-background) !important;
}

.threadlist_bright>li:hover {
    background-color: var(--trans-light-background) !important;
}

.j_th_tit {
    /* 帖子标题 */
    color: var(--tieba-theme-fore);
}

.threadlist_bright .threadlist_abs_onlyline,
.threadlist_bright .threadlist_abs {
    /* 帖子摘要 */
    color: var(--default-fore) !important;
}

.threadlist_bright .threadlist_media li {
    /* 贴子图片 hover */
    border-radius: 8px !important;
}

.threadlist_media li:hover .threadlist_pic_highlight {
    border-radius: 8px;
    display: none;
}

.vpic_wrap img {
    border-radius: 8px;
}

.threadlist_bright .media_disp {
    background: none !important;
    border: none !important;
}

.threadlist_bright .threadlist_video {
    /* 视频预览 */
    border-radius: 8px;
}

.threadlist_rep_num {
    /* 回贴数 */
    background: none !important;
    background-color: var(--tieba-theme-background) !important;
    color: var(--tieba-theme-fore);
    height: unset !important;
    border-radius: 24px;
}

.pagination-default .pagination-item {
    /* 跳页按钮 */
    background-color: var(--light-background) !important;
    color: var(--light-fore) !important;
    border: none !important;
    border-radius: 8px;
}

.pagination-default .pagination-current {
    /* 跳页按钮：当前 */
    background-color: var(--tieba-theme-color) !important;
    color: var(--default-background) !important;
    border: none !important;
}

.pagination-default .pagination-item:not(.pagination-current):hover {
    /* 跳页按钮：hover */
    background-color: var(--trans-light-background) !important;
    border: none !important;
}

/* 底部 */
#tb_rich_poster_container {
    background-color: var(--very-light-background) !important;
    border-radius: 0 0 24px 24px;
    width: 982px !important;
    margin-left: -1px;
}

.tb_rich_poster .poster_body .editor_textfield {
    /* 标题文本框 */
    background-color: var(--default-background) !important;
    color: var(--default-fore) !important;
    border-color: var(--border-color) !important;
    border-radius: 8px;
}

.tb_rich_poster .poster_body .editor_textfield:focus {
    border-color: var(--tieba-theme-color) !important;
}

.old_style_wrapper {
    /* 编辑器容器 */
    background-color: var(--elem-color) !important;
    border-color: var(--border-color) !important;
}

.old_style_wrapper .edui-editor-body {
    background: none !important;
}

.edui-container .edui-toolbar {
    /* 编辑器工具栏 */
    background: none !important;
}

.edui-editor-body .edui-body-container {
    /* 编辑器 */
    background-color: var(--default-background) !important;
    border-color: var(--border-color) !important;
}

.frs_content_footer_pagelet {
    background: none !important;
}

.footer {
    display: none !important;
}