@use "./palette" as _;
@use "sass:math";

html {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.icon {
    font-family: "Material Icons", monospace;
}

a {
    color: unset;
    text-decoration: none;
}

.level-green {
    background-color: _.$levelGreenBack;
    color: _.$levelGreenFore;
}

.level-blue {
    background-color: _.$levelBlueBack;
    color: _.$levelBlueFore;
}

.level-yellow {
    background-color: _.$levelYellowBack;
    color: _.$levelYellowFore;
}

.level-orange {
    background-color: _.$levelOrangeBack;
    color: _.$levelOrangeFore;
}

@mixin transition-prototype($type, $time) {
    transition: $type $time;
}

@mixin slow-transition($type) {
    @include transition-prototype($type, 0.8s);
}

@mixin default-transition($type) {
    @include transition-prototype($type, 0.4s);
}

@mixin fast-transition($type) {
    @include transition-prototype($type, 0.2s);
}

@keyframes fade-in-keyframe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out-keyframe {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@mixin fade-in($time) {
    animation: fade-in-keyframe $time;
}

@mixin fade-out($time) {
    animation: fade-out-keyframe $time;
}
