@use "./palette" as _;

$blur-radius: 24px;
$xfast-animation-duration: 0.1s;
$fast-animation-duration: 0.2s;
$default-animation-duration: 0.4s;
$slow-animation-duration: 0.5s;
$vslow-animation-duration: 0.6s;

html {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.icon {
    font-family: "Material Icons", monospace;
}

a {
    color: unset;
    text-decoration: none;
}

div,
p {
    margin: 0;
}

.level-green {
    background-color: _.$levelGreenBack;
    color: _.$levelGreenFore;
}

.level-blue {
    background-color: _.$levelBlueBack;
    color: _.$levelBlueFore;
}

.level-yellow {
    background-color: _.$levelYellowBack;
    color: _.$levelYellowFore;
}

.level-orange {
    background-color: _.$levelOrangeBack;
    color: _.$levelOrangeFore;
}

@mixin transition-prototype($type, $time) {
    transition: $type $time;
}

@mixin slow-transition($type) {
    @include transition-prototype($type, 0.8s);
}

@mixin default-transition($type) {
    @include transition-prototype($type, 0.4s);
}

@mixin fast-transition($type) {
    @include transition-prototype($type, 0.2s);
}

@keyframes fade-in-keyframe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out-keyframe {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@mixin fade-in($time) {
    animation: fade-in-keyframe $time;
}

@mixin fade-out($time) {
    animation: fade-out-keyframe $time;
}

@mixin blur-effect($radius: $blur-radius) {
    backdrop-filter: blur($radius);

    @media (prefers-color-scheme: dark) {
        backdrop-filter: blur($radius) brightness(0.8);
    }
}

@keyframes dialog-in {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
