$xfast-animation-duration: 0.1s;
$fast-animation-duration: 0.2s;
$default-animation-duration: 0.4s;
$slow-animation-duration: 0.5s;
$xslow-animation-duration: 0.6s;

@mixin transition-prototype($type, $time) {
    transition: $type $time;
}

@mixin slow-transition($type) {
    @include transition-prototype($type, 0.8s);
}

@mixin default-transition($type) {
    @include transition-prototype($type, 0.4s);
}

@mixin fast-transition($type) {
    @include transition-prototype($type, 0.2s);
}

@keyframes kf-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kf-fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@mixin fade-in($time: $default-animation-duration) {
    animation: kf-fade-in $time;
}

@mixin fade-out($time: $default-animation-duration) {
    animation: kf-fade-out $time;
}

@keyframes kf-dialog-in {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes kf-zoom-in {
    0% {
        transform: scale(0.72);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes kf-fade-zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.72);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@mixin bounce-zoom-in($duration: $default-animation-duration) {
    animation: kf-zoom-in $duration cubic-bezier(0.18, 0.89, 0.32, 1.2);
}

@mixin fade-zoom-in($duration: $default-animation-duration) {
    animation: kf-fade-zoom-in $duration;
}
