/* stylelint-disable font-family-no-missing-generic-family-keyword */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format("woff2");
}

.material-icons {
    display: inline-block;
    direction: ltr;
    font-family: "Material Icons";
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}